<h1>Todos los productos</h1>
{{#if user}}
  <div class="welcome-message">
    <h2>¡Bienvenido, {{user.first_name}}!</h2>
    <form action="/api/sessions/logout" method="POST">
      <button type="submit" class="btn btn-danger">Cerrar sesión</button>
    </form>
  </div>
{{else}}
  <div class="login-prompt">
    <p>No has iniciado sesión.</p>
    <a href="/login" class="btn btn-primary">Iniciar sesión</a>
  </div>
{{/if}}
<div class="containerProducts">
  {{#each products}}
    <div class="card">
      <p>Nombre: {{this.title}}</p>
      <p>Descripcion: {{this.description}}</p>
      <p>Precio: {{this.price}}</p>
      <p>Codigo: {{this.code}}</p>
      <p>Stock: {{this.stock}}</p>
      <p>Categoria: {{this.category}}</p>
      {{#if ../user}}
        <form
          action="/api/carts/{{../cartId}}/products/{{this._id}}"
          method="POST"
          target="_self"
        >
          <button type="submit" class="btn btn-primary">Agregar al carrito</button>
        </form>
      {{else}}
        <p><a href="/login">Inicia sesión</a> para agregar productos al carrito.</p>
      {{/if}}
    </div>
  {{/each}}
</div>
<ul class="pagination justify-content-center">
  {{#if hasPrevPage}}
    <li class="page-item">
      <a class="page-link" href="/?page={{prevPage}}">Anterior</a>
    </li>
  {{else}}
    <li class="page-item disabled">
      <a class="page-link" href="#">Anterior</a>
    </li>
  {{/if}}
  {{#if hasNextPage}}
    <li class="page-item">
      <a class="page-link" href="/?page={{nextPage}}">Siguiente</a>
    </li>
  {{else}}
    <li class="page-item disabled">
      <a class="page-link" href="#">Siguiente</a>
    </li>
  {{/if}}
</ul>

<div class="text-center mt-4">
  <p>Página actual: {{currentPage}}</p>
  <p>Total Paginas: {{totalPages}}</p>
</div>